<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_around">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.lib_generic.base.SfyBaseApplication">
        <activity android:name="com.example.home_around.activity.MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.home_around.activity.SearchActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.MerchantsActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.GoodsDetailOfAppointActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.ShoppingCartActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.MerchantDetailOfActualActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.GoodsDetailOfActualActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.MerchantDetailOfServiceActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.GoodsDetailOfServiceActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.SubmitOrderOfServiceActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.SubmitOrderOfAppointActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.SelectAddressActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.SubmitOrderOfDeliveryActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.OrderDetailActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.MyOrderActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.activity.PayResultActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.example.home_around.base.BaseWebActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"/>







    </application>

</manifest>